<app-header></app-header>
<section class="inner-wrapper">
  <div class="container">
    <div class="row">
      <h2>Add <span>Class</span> </h2>
      <div class="inner-wrapper-main">
        <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0">
          <div class="row show-hide-message" *ngIf="isShow">
            <div class="alert" [ngClass]="css">{{message}}</div>
          </div>
          <div class="form">
            <form id="contactFrm" name="contactFrm" (submit)="addClass()">
              <div class="row">
                <div class="col-sm-6">
                  <label>Class Name</label>
                  <input type="text" required placeholder="Class Name" value="" [(ngModel)]="class.name" name="class.name" class="txt">
                </div>
                <div class="col-sm-6">
                  <label>Subject</label>
                  <div class="input-group">
                    <app-dropdown [values]="sdrops" (changeValue)="setSubject($event)"></app-dropdown>
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Batch</label>
                  <div class="input-group">
                    <app-dropdown [values]="bdrops" (changeValue)="setBatch($event)"></app-dropdown>
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Teacher</label>
                  <div class="input-group">
                    <app-dropdown [values]="tdrops" (changeValue)="setTeacher($event)"></app-dropdown>
                    <span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></span>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm-6">
                  <label>Fees</label>
                  <div class="input-group">
                    <span class="input-group-addon">Rs</span>
                    <input type="number" class="form-control bfh-number" required [(ngModel)]="class.fees" name="class.fees" placeholder="Fees" data-min="0" data-max="9999999">
                    <span class="input-group-addon">.00</span>
                  </div>
                </div>
                <!--<div class="col-sm-6">-->
                  <!--<input [ngModel]="myDate | date: 'shortTime'" name="myDate" (ngModel)="myDate" ngui-datetime-picker time-only="true" />-->
                <!--</div>-->
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm-6">
                  <label>Start Date</label>
                  <ng2-datepicker [(ngModel)]="startDate" name="startDate" [options]="optionsStart" ></ng2-datepicker>
                </div>
                <div class="col-sm-6">
                  <label>End Date</label>
                  <ng2-datepicker [(ngModel)]="endDate" name="endDate" [options]="optionsEnd" ></ng2-datepicker>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm-6">
                  <label>Start Time</label>
                  <input type="text" required placeholder="Start Time" value="" [(ngModel)]="class.startTime" name="class.startTime" class="txt">
                </div>
                <div class="col-sm-6">
                  <label>End Time</label>
                  <input type="text" required placeholder="End Time" value="" [(ngModel)]="class.endTime" name="class.endTime" class="txt">
                </div>
              </div>
              <input type="submit" value="Add Class" name="submit" class="txt2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="col-sm-4">-->
  <!--<div class="input-group">-->
    <!--<span class="input-group-addon">$</span>-->
    <!--<input type="text" class="form-control bfh-number" id="product_price" placeholder="Price" data-min="0" data-max="9999999">-->
    <!--<span class="input-group-addon"><a href="#"><i class="glyphicon glyphicon-earphone"></i></a></span>-->
  <!--</div>-->
<!--</div>-->
