<app-header>
  <!-- Pre Loader -->
  <div id="dvLoading"></div>
</app-header>
<section class="inner-wrapper">
  <div class="container">
    <div class="row offset-top-50">
      <h2>Sign Up <span>Here</span></h2>
      <div class="inner-wrapper-main">
        <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
          <div class="row show-hide-message" *ngIf="isShow">
            <div class="alert" [ngClass]="class">{{message}}</div>
          </div>
          <div class="form">
            <form class="form-signin" (submit)="registerStudent($event)">
              <input type="text"  class="txt" [(ngModel)]="user.username" name="user.username" placeholder="Username" required />
              <input type="text"  class="txt" [(ngModel)]="user.email" name="user.email" placeholder="Email" />
              <input type="password"  class="txt" [(ngModel)]="user.password" name="user.password" placeholder="Password" required/>
              <input type="password"  class="txt" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required/>
              <div class="social-login">
                <input type="submit" value="Register" name="submit" class="txt2">
                <p class="hidden-xs">Or Login with</p>
                <ul class="social-icons hidden-xs">
                  <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li class="google-plus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>









