<!-- Header Start -->
<header>
  <div class="top-wrapper hidden-xs">
    <div class="container">
      <div class="col-md-4 col-sm-6 hidden-xs top-wraper-left no-padding">
        <ul class="header-social-icons">
          <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter"><a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="linkedin"><a href="javascript:void(0)" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li class="pinterest"><a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          <li class="google-plus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="youtube"><a href="javascript:void(0)" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li class="dribbble"><a href="javascript:void(0)" target="_blank"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-6">
        <ul class="top-right pull-right ">
          <!-- Login -->
          <li class="login" *ngIf ="!isLogged"><a [routerLink] ="['/login']" style="text-decoration:none"><i class="fa fa-lock"></i>Login</a></li>
          <!-- Register -->
          <li class="register" *ngIf ="!isLogged"><a [routerLink] ="['/register']" style="text-decoration:none"><i class="fa fa-user"></i>Sign Up</a></li>
          <li class="dropdown" *ngIf ="isLogged"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration:none"><i class="fa fa-user"></i><i class="fa fa-angle-down"></i>{{user.username}}</a>
            <ul class="dropdown-menu">
              <li><a href="#" style ="color: #333">Profile Settings</a></li>
              <li><a href="# " style ="color: #333">Change password </a></li>
            </ul>
          </li>
          <li class="register" *ngIf ="isLogged"><a href = "#" (click) = "logout()" style="text-decoration:none"><i class="fa fa-power-off"></i>Logout</a></li>
          <li class="search"><i class="fa fa-search" aria-hidden="true"></i>
            <div id="search-form-container">
              <form id="search-form" action="#" style="display: none;" class="">
                <input type="search" id="search" name="search" placeholder="Search...">
                <input type="submit" id="search-submit" value="">
                <span id="close-form" class="close">x</span>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="wow fadeInDown navigation" data-offset-top="197" data-spy="affix">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="../../../assets/education-world-html/images/logo.png" alt="Education World"/></a> </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown" *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant' || user.userRole == 'teacher' "><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant'"><a [routerLink] ="['/addStudents']" style="text-decoration:none">Add Students</a></li>
                  <li><a href="#">Search Students</a></li>
                </ul>
              </li>
              <li class="dropdown" *ngIf ="user.userRole == 'admin'"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assistants <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a [routerLink] ="['/addAssistants']" style="text-decoration:none">Add Assistants</a></li>
                  <li><a href="#">Search Assistant</a></li>
                </ul>
              </li>
              <li class="dropdown" *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant' || user.userRole == 'teacher' "> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li *ngIf ="user.userRole == 'admin'"><a href="#">Add Teachers</a></li>
                  <li><a href="#">Search Teachers</a></li>
                </ul>
              </li>
              <li class="dropdown" *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant' || user.userRole == 'teacher' "> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classes <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant' || user.userRole == 'teacher' "><a href="#">Add Classes</a></li>
                  <li *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant'"><a href="#">Add Subject</a></li>
                  <li *ngIf ="user.userRole == 'admin' || user.userRole == 'assistant'"><a href="#">Add Batch</a></li>
                  <li><a href="#">Search Classes</a></li>
                </ul>
              </li>
              <li *ngIf ="!isLogged"><a href="#">Our Teachers</a></li>
              <li *ngIf ="!isLogged"><a href="#">Our Classes</a></li>
              <li *ngIf ="!isLogged" class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Coming Soon</a></li>
                  <li><a href="#">404</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->
