
<!-- Header Start -->
<header>
  <div class="top-wrapper hidden-xs">
    <div class="container">
      <div class="col-md-4 col-sm-6 hidden-xs top-wraper-left no-padding">
        <ul class="header-social-icons">
          <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter"><a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="linkedin"><a href="javascript:void(0)" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li class="pinterest"><a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest"></i></a></li>
          <li class="google-plus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="youtube"><a href="javascript:void(0)" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li class="dribbble"><a href="javascript:void(0)" target="_blank"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-6">
        <ul class="top-right pull-right ">
          <!-- Login -->
          <li class="login"><a [routerLink] ="['/login']"><i class="fa fa-lock"></i>Login</a></li>
          <!-- Register -->
          <li class="register"><a [routerLink] ="['/register']"><i class="fa fa-user"></i>Sign Up</a></li>
          <li class="search"><i class="fa fa-search" aria-hidden="true"></i>
            <div id="search-form-container">
              <form id="search-form" action="#" style="display: none;" class="">
                <input type="search" id="search" name="search" placeholder="Search...">
                <input type="submit" id="search-submit" value="">
                <span id="close-form" class="close">x</span>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="logo-bar hidden-xs">
    <div class="container">
      <!-- Logo -->
      <div class="row">
        <div class="col-sm-4"><a href="#"> <img src="../../../assets/education-world-html/images/logo.png" alt="Education World"></a> </div>
        <div class="col-sm-8">
          <ul class="contact-info pull-right">
            <li><i class="fa fa-phone"></i>
              <p> <span>Call us</span><br>
                +1-012-345-6789</p>
            </li>
            <li><i class="fa fa-envelope"></i>
              <p><span>Email Us</span><br>
                <a href="mailto:support@sbtechnosoft.com">support@sbtechnosoft.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="wow fadeInDown navigation" data-offset-top="197" data-spy="affix">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="../../../assets/education-world-html/images/logo.png" alt="Education World"/></a> </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elements <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Grid</a></li>
                  <li><a href="#">Tables</a></li>
                  <li><a href="#">Tabs</a></li>
                  <li><a href="#">Accordions</a></li>
                  <li><a href="#">Forms</a></li>
                  <li><a href="#">Buttons</a></li>
                  <li><a href="#">Lists</a></li>
                  <li><a href="#">Typography</a></li>
                </ul>
              </li>
              <li class="dropdown mega-menu"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-1">
                        <ul class="list-unstyled">
                          <li><span>Eliments</span></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Grid</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Tables</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Tabs</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Accordions</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Forms</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Buttons</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Lists</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Typography</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <ul class="list-unstyled">
                          <li><span>Courses</span></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Course List</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Course Grid</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Course Details</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <ul class="list-unstyled">
                          <li><span>News</span></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Classic News</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Grid News</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Masonry News</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>News Post Page</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <ul class="list-unstyled">
                          <li><span>Gallery</span></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Grid Gallery</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Full Width Gallery</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Masonry Gallery</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Modern Gallery</a></li>
                        </ul>
                      </div>
                      <div class="col-md-2">
                        <ul class="list-unstyled">
                          <li><span>Pages</span></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>About Us</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>Coming Soon</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>404</a></li>
                          <li><a href="#"><span class="fa fa-angle-right menu-icon"></span>FAQ</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Course List</a></li>
                  <li><a href="#">Course Grid</a></li>
                  <li><a href="#">Course Details</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Classic News</a></li>
                  <li><a href="#">Grid News</a></li>
                  <li><a href="#">Masonry News</a></li>
                  <li><a href="#">News Post Page</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Grid Gallery</a></li>
                  <li><a href="#">Full Width Gallery</a></li>
                  <li><a href="#">Masonry Gallery</a></li>
                  <li><a href="#">Modern Gallery</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Coming Soon</a></li>
                  <li><a href="#">404</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->
