.jumbotron {
  padding-top: 0px;
  width: 400px;
  height: 200px;
  margin-left: 20px;
}

img{
  height: 100px;
  width: 100px;
  margin-top: -20px;
}
btn.btn-primary.btn.view{
  float: right;
}

.class-heading{
  font-size: 25px;
  margin-top: 5px;
}
